@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100;
}
/* manually turned off the default behavior of password field; it doesnt have that eye butttun anymore. i have done it manuaaly*/
.no-password-reveal::-ms-reveal {
  display: none;
}

.no-password-reveal::-webkit-textfield-decoration-container {
  display: none;
}
.customShadow{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
}